.searchButton {
    display: flex;
    justify-content: center;
    width: 64px;
    align-items: center;
    padding: 6px 16px;
    height: 28px;
    font-size: 22px;
    border-radius: 8px;
    color: white;
    background-color: var(--primary-800);
    margin: 0px 8px;
}

.searchButton:hover{
    cursor: pointer;
}

