:root {
 --dark-800: #06061eff;
--dark-600: #181534ff;
--primary-800: #7166e8ff;
--primary-600: #a09ad6ff;
--primary-400: #e9e6f9ff;
--light: #cecece;
--nav-bg: #FBFAFF;
--bg: #F8F7FD;



--navbar-item-padding: 12px;
}